body{
    background-color: #262626;
    color: white;
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

*:hover{
    outline: none;
}

#commands{
    text-align: center;
    width: 10%;
    border: 1px solid white;
    padding: 0px, 0;
    padding: 5px;
    float: right;
    margin-right: 10px;
}

inv.empty{
    border:3px solid white;
    position: relative;
    width: 150px;
    height: 150px;
}

.form1 a{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 5px;
    border-radius: 3px;
}

.form1 a:active{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 5px;
    background-color: rgba(0, 128, 128, 0);
}

.form1 a:hover{
    color: black;
    transition-duration: .5s;
    background-color: white;
}

input:enabled{
    background-color: rgba(0,0,0,0);
    padding: 4px;
    border: 1px solid white;
    border-radius: 3px;
    
}

input:valid{
    color: white;
    background-color: rgba(0, 128, 128, 0);
}

input:focus{
    border: 1px solid white;
    caret-color: white;
}

.form1 input[type="submit"]:enabled{
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.form1 input[type="submit"]:hover{
    color: black;
    transition-duration: .5s;
    background-color: white;
    cursor: pointer;
}

.navbar{
    width: 100%;
    height: 45px;
    background-color: rgb(78, 78, 78);
    margin: auto;
    margin-bottom: 25px;
    overflow: hidden;
}

#header-img{
    width: 100%;
    min-height: 400px;
}

#textarea1{
    color: white;
    background-color: rgba(255, 255, 255, 0);
    font-size: x-large;
    border: 2px solid white;
    margin-left: 10px;
}

.form1 p{
    color: tomato;
    display: none;
}

.margin-this{
    margin-top: 1000px;
}

#login-btn{
    list-style-type: none;
}

#login-btn a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    float: right;
    position: relative;
    bottom: 10px;
    right: 10px;
    border: 1px solid white;
    border-radius: 3px;
    padding: 3px 2px;
    font-size: larger;
    box-sizing: border-box;
}

#login-btn a:hover{
    background-color: white;
    transition-duration: .5s;
    color: black;
}

#logo{
    background-image: url(IMG/logo.png);
    background-repeat: no-repeat;
    width: 5%;
    min-height:px;
    box-sizing: border-box;
}

#time{
    margin-left: 10px;
}

h1{
    margin-left: 10px;
}

.container-health{
    border: 1px solid white;
    width: 10%;
    border-radius: 10px;
    margin-left: 10px;
}

.container-health #health{
    position: relative;
    width: 100%;
    height: 19px;
    background-color:crimson;
    border-radius: 10px;
    text-align: center;
}

.container-mana{
    margin-top: 5px;
    margin-left: 10px;
    border: 1px solid white;
    width: 10%;
    border-radius: 10px;
    text-align: center;
}

.container-mana #mana{
    position: relative;
    width: 100%;
    background-color: rgb(141, 0, 141);
    border-radius: 10px;
}

#gold{
    margin-left: 10px;
    display: inline;
}

#gold span{
    color: yellow;
}

#deathscreen{
    display: none;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #0c0c0c;
}

#rst-btn{
    display: none;
    background: none;
    border-bottom: 2px solid white;
}

#rst-btn:hover{
    display: none;
    border-bottom: 3px solid white;
}

#death-txt{
    display: none;
    font-family: "Montserrat", sans-serif;
}